.env
__pycache__/
*.pyc
*.pyo
dream_env/
venv/
.venv/
pet_directory/
app_submit_log/
zip_uploads/
usage_data/
temp/
uploads/
*.zip
.DS_Store
LLaVA/
image/
image.jpg
image.zip
*.log

# Video maker outputs
video_maker/initial_images/
video_maker/created_videos/
video_maker/storylines/
video_maker/temp_images_on_create_video/
video_maker/frames/
